body {
  font-family: "Ubiquity Nova", sans-serif;
  background-color: #000;
  color: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABigAwAEAAAAAQAAABgAAAAAwf1XlwAAACNJREFUSA3t0IEAAAAMBKFHm7/UTaQQWnXDgAEDBgwYMGDgAXaJAz4RVVHYAAAAAElFTkSuQmCC");
  padding: 0;
  margin: 0;
  min-width: 100vw;
}
@font-face {
  font-family: "Ubiquity Nova";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ubiquity-nova-standard.eot);
  src:
    url(../fonts/ubiquity-nova-standard.eot#iefix) format("embedded-opentype"),
    url(../fonts/ubiquity-nova-standard.woff) format("woff"),
    url(../fonts/ubiquity-nova-standard.ttf) format("truetype");
}

img {
  max-width: 48px;
  max-height: 48px;
}
img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #c0c0c0;
  font-weight: 600;
}

a:hover {
  color: #f8f8f8;
}

.body-flex {
  width: 80vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3px;
  margin: 20px auto;
  gap: 6rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #fff;
}

.connect-prompt {
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: none;
  margin-top: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 3em;
  max-width: 100vw;
}

.connect-prompt.visible {
  display: flex;
}

#providers-modal {
  border-radius: 15px;
  border: none;
  background-color: #111;
  width: 33.33%;
  min-height: 15rem;
  padding: 2rem;
  text-align: center;
}

#providers-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

#providers-modal #providers-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  margin: 3rem;
  width: 80%;
  max-width: 100%;
  flex-wrap: wrap;
}

#close-modal {
  border-radius: 9999px;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: gainsboro;
  cursor: pointer;
}

#providers-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#connect-button {
  border: 1px solid rgb(128, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #f8f8f8;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.provider-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  box-shadow: 1px 1px silver;
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  flex-wrap: wrap;
}

.white-container {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 1rem;
  margin: auto;
  min-width: 500px;
  flex-wrap: wrap;
}

.white-container.visible {
  display: flex;
}

.input {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #f8f8f8;
}

.input-wrapper {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-radius: 5px;
  padding: 1em;
}

#collateral-select {
  appearance: none;
  background-color: transparent;
  margin: 0;
  min-width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #f8f8f8;
}

@media screen and (max-width: 750px) {
  .body-flex {
    padding: 4px;
    /* margin: 20px auto; */
  }

  .header {
    display: none;
  }

  .connect-prompt {
    font-size: 1.4em;
  }

  #providers-modal {
    width: 95%;
    padding: 1.2rem;
  }

  .white-container {
    padding: 5px;
    min-width: 300px;
  }
}
