name: Deno Deploy (PR build)

on:
  pull_request:

jobs:
  build:
    permissions:
      contents: read
      actions: write
    uses: ubiquity/deno-deploy-workflow/.github/workflows/deno-deploy-build.yml@main
    with:
      entrypoint: serve.ts
      bun_version: 1.3.4
      install_command: bun install
      build_command: bun run build
      build_env: |
        SUPABASE_URL=$SUPABASE_URL
        SUPABASE_ANON_KEY=$SUPABASE_ANON_KEY
        FRONTEND_URL=https://uusd.ubq.fi
      build_env_fork: |
        SUPABASE_URL=https://wfzpewmlyiozupulbuur.supabase.co
        SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmenBld21seWlvenVwdWxidXVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU2NzQzMzksImV4cCI6MjAxMTI1MDMzOX0.SKIL3Q0NOBaMehH0ekFspwgcu3afp3Dl9EDzPqs1nKs
        FRONTEND_URL=https://uusd.ubq.fi
      include: |
        public/**
      artifact_name: deno-deploy-artifact
